@model List<MongoDbEgitim.Dtos.OrderDtos.ResultOrderWithCustomerAndProductDto>
@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;

}

<div class="container">
    <br /><br />
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Sipariş Tarihi</th>
            <th>Müşteri</th>
            <th>Ürün</th>
            <th>Ürün Adet</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.OrderDate</td>
                <td>@item.Customer.CustomerFullName</td>
                <td>@item.Product.Name</td>
                <td>@item.OrderProductStock</td>
                <td><a class="btn btn-danger" href="/Order/RemoveOrder/@item.OrderId">Sil</a></td>
                <td><a class="btn btn-info" href="/Order/UpdateOrder/@item.OrderId">Güncelle</a></td>
            </tr>
        }
    </table>
    <a class="btn btn-info" href="/Order/CreateOrder/">Ekle</a>

</div>
